body {
    button {
        margin-left: 10px;
    }
    .container {
        display: flex;
        flex-flow: column;
        margin: 40px;
        height: 100%;
        
        .filter-box {
            display: flex;
            flex: 0 1 auto;
        }
        .data-table {
            .category-name, .subcategory-name {
                border: 1px solid #e5e7eb;
                border-collapse: collapse;
                display: flex;
                align-items: center;
                padding: 20px;
            }
            display: flex;
            flex: 1 1 auto;
            flex-flow: column;
            margin-top: 40px;
            .category {
                .category-name {
                    height: 80px;
                }
            }
            .subcategory {
                .subcategory-name {
                    height: 60px;
                }
            }
            .products {
                .row {
                    height: 40px;
                }
            }
        }
    }

}